* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    padding: 18px 35px;
    /* backgrround color, image styles */
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header and Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 38px 0px 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}


/* main section */
main {
    max-width: 1140px;
    margin: 0px auto;
}


/* about section styles */
.about-me {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.section-title {

    margin-bottom: 30px;
    font-size: 35px;
    line-height: 48px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* INFO INFORMATION */
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}